//- include about.pug 

section.about(id='Оклинике') 
    .about__container 
        h2 О клинике
        h3 Вы получите качественное лечение на современном оборудовании по приемлимым ценам
        .about__wrapper 
            .about__txt
                h4 Философия клиники Ваша здоровая улыбка – наша работа.  В стенах нашей стоматологической клиники Вы всегда можете рассчитывать на профессиональное оказание услуг в кратчайшие сроки.
                ul 
                    li Современное оборудование, профессионализм врачей, опыт, а главное – внимательное отношение к пациенту.
                    li Главное направление – оказание качественной стоматологической помощи (детская стоматология, терапевтическое лечение, хирургическое лечение, имплантология, ортодонтическое лечение, ортопедия).
                    li Каждый месяц у нас проходят акции и специальные предложения
            .about__img
                img(src="images/about_0.jpeg", alt="Рабочее место дантиста")
        .about__slider.splide(id='about_slide')
            .splide__arrows
                button.splide__arrow.splide__arrow--prev
                button.splide__arrow.splide__arrow--next
            .splide__track
                ul.splide__list
                        li.splide__slide
                            .about__foto
                                img(src="images/about_1.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_2.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_3.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_4.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_1.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_2.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_3.jpeg", alt="")
                        li.splide__slide
                            .about__foto
                                img(src="images/about_4.jpeg", alt="")