//- include awards.pug

section.awards(id='Лицензии')
    .awards__container 
        h2 Лицензии и награды
        h3 Деятельность клиники сертифицирована, мы имеем все необходимые лицензии и разрешающие документы.
        .awards__slider.splide(id='awards_slide')
            .splide__arrows
                button.splide__arrow.splide__arrow--prev
                button.splide__arrow.splide__arrow--next
            .splide__track
                ul.splide__list
                    li.splide__slide
                        .awards__img 
                            img(src="images/awards_1.jpeg", alt="")
                    li.splide__slide
                        .awards__img 
                            img(src="images/awards_2.jpeg", alt="")
                    li.splide__slide
                        .awards__img 
                            img(src="images/awards_3.jpeg", alt="")
                    li.splide__slide
                        .awards__img 
                            img(src="images/awards_4.jpeg", alt="")

