//- include consult.pug

section.consult
    .consult__container 
        h2 Бесплатная консультация врача
        p На бесплатной консультации врач клиники проведет диагностику всех зубов:
        .consult__wrapper 
            .consult__block 
                .consult__img
                    img(src="images/consult_1.jpg", alt="Стоматолог осматривает полость рта")
                h3 Полный осмотр и диагностика полости рта
                p При необходимости сделаем дополнительный снимок зубов, у нас в клинике
            .consult__block 
                .consult__img
                    img(src="images/consult_2.jpg", alt="Врач составляет план лечения")
                h3 Составит 2-3 плана лечения на выбор
                p Вы сможете выбрать подходящий план лечения, исходя из бюджета
            .consult__block 
                .consult__img
                    img(src="images/consult_3.png", alt="Производится чистка зубов в четыре этапа")
                h3 При необходимости проведем проф. гигиену
                p Чистка зубов в 4 этапа
        .btn.btn_big Записаться