//- include doctor.pug

section.doctor(id='Врачи') 
    .doctor__container 
        h2 Врачи
        p В нашей клинике работают высококлассные специалисты с большим опытом работы. Выберите подходящего врача и запишитесь на  консультацию.
        .doctor__wrapper 
            .doctor__list 
                .doctor__item
                    h3 Саидов Шамсулло Нарзуллоевич
                    p Врач-стоматолог #[span Ведущий специалист]
                .doctor__item 
                    h3 Анисимов Дмитрий Владимирович
                    p Врач-стоматолог
                .doctor__item 
                    h3 Варданян Давид Араевич
                    p Врач-стоматолог
                .doctor__item 
                    h3 Соха Анастасия Юрьевна
                    p Врач-стоматолог
                .doctor__item 
                    h3 Иванова Оксана Григорьевна
                    p Врач-стоматолог
                .doctor__item 
                    h3 Синельщикова Елена Дмитриевна
                    p Врач-стоматолог
            .doctor__slider 
                .stock__slider.splide(id='doc_slide')
                    .splide__arrows
                        button.splide__arrow.splide__arrow--prev
                        button.splide__arrow.splide__arrow--next
                    .splide__track
                        ul.splide__list
                            li.splide__slide.card
                                h3 Саидов Шамсулло Нарзуллоевич
                                p Врач-стоматолог #[span Ведущий специалист]
                                .card__description 
                                    h4 Опыт работы более 25 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | стоматология ортопедическая;
                                        | стоматология хирургическая
                                        | #[b Все виды высококачественного протезирования:] съемные,
                                        | несъемные, безметалловые конструкции, цирконий, проте-
                                        | зирование на имплантах, драгметаллах, вкладки, виниры, гнатология и хирургия
                                img(src="images/doctor_1.png", alt="Саидов Шамсулло Нарзуллоевич")
                            li.splide__slide.card
                                h3 Анисимов Дмитрий Владимирович
                                p Врач-стоматолог
                                .card__description 
                                    h4 Опыт работы более 5 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | стоматология общей практики;
                                        | стоматология хирургическая
                                        | #[b Направленность:]
                                        | имплантация, пародонтология, удаление зубов любой сложности
                                img(src="images/doctor_2.png", alt="Анисимов Дмитрий Владимирович")
                            li.splide__slide.card
                                h3 Варданян Давид Араевич
                                p Врач-стоматолог
                                .card__description 
                                    h4 Опыт работы более 5 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | Действующие сертификаты:
                                        | стоматология общей практики;
                                        | стоматология хирургическая
                                        | #[b Направленность:] 
                                        | протезирование зубов, хирургическое удаление, терапевтическое лечение и отбеливание
                                img(src="images/doctor_3.png", alt="Варданян Давид Араевич")
                            li.splide__slide.card
                                h3 Соха Анастасия Юрьевна
                                p Врач-стоматолог
                                .card__description 
                                    h4 Опыт работы более 10 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | стоматология общей практики;
                                        | стоматология терапевтическая;  стоматология ортодонтическая
                                        | #[b Направленность:]
                                        | терапевтическое лечение, эстетическая реставрация зубов и исправление прикуса любой сложности
                                img(src="images/doctor_4.png", alt="Соха Анастасия Юрьевна")
                            li.splide__slide.card
                                h3 Иванова Оксана Григорьевна
                                p Врач-стоматолог
                                .card__description 
                                    h4 Опыт работы более 20 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | стоматология общей практики;
                                        | стоматология ортопедическая
                                        | #[b Направленность: ]
                                        | терапевтическое лечение, все виды протезирования, хирургическое удаление зубов
                                img(src="images/doctor_5.png", alt="Иванова Оксана Григорьевна")
                            li.splide__slide.card
                                h3 Синельщикова Елена Дмитриевна
                                p Врач-стоматолог
                                .card__description 
                                    h4 Опыт работы более 5 лет
                                    p 
                                        | #[b Действующие сертификаты:]
                                        | стоматология общей практики;
                                        | стоматология хирургическая
                                        | #[b Направленность: ]
                                        | терапевтическое лечение, эстетическая реставрация, хирургическое удаление зубов , профессиональная гигиена и отбеливание
                                img(src="images/doctor_6.png", alt="Синельщикова Елена Дмитриевна")
                .doctor__buttons
                    a.btn Записаться
                    .doctor__social
                        a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                            img(src="images/tg_icon.svg", alt="Telegram")
                        a(href="https://wa.me/89260255767")
                            img(src="images/wa_icon.svg", alt="Whatsapp")
                        p спросить в мессенджере