//- include features.pug

section.features 
    .features__container 
        .features__wrapper 
            .features__block
                .features__txt 
                    h2 Работаем с 2011 года
                    p Многолетний опыт работы - залог качественного сервиса
            .features__block 
                .features__txt 
                    h2 Опытные врачи
                    p Огромный опыт персонала и слаженность работы
            .features__block 
                .features__txt 
                    h2 Уникальный подход
                    p Применяем в своей работе современные технологии