//- include hero.pug

section.hero 
    .hero__container 
        .hero__wrapper
            .hero__txt-block
                h1 Лечение и протезирование зубов по Европейским стандартам
                h2 Предоставим 2-3 плана качественного лечения под ваш бюджет
                p Запишитесь на #[strong бесплатную] первичную консультацию - диагностику зубов
                a.btn.btn_fill(href="#") Записаться