
div.modal.micromodal-slide(id="modal-1" aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container(role="dialog" aria-modal="true" aria-labelledby="modal-1-title")
            //- header.modal__header
            //-     h2.modal__title(id="modal-1-title") Modal Title
            //-     button.modal__close(aria-label="Close modal" data-micromodal-close)
            div.modal__content(id="modal-1-content")
                .stock__modal
                    h2 Для участия в акции подпишитесь на нашу группу в ВК#[strong онтакте]
                    a.btn Стать участником
                    .stock__social 
                            a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                                img(src="images/tg_icon.svg", alt="Telegram")
                            a(href="https://wa.me/89260255767")
                                img(src="images/wa_icon.svg", alt="Whatsapp")
                            p спросить в мессенджере
