section.record-form 
    .record-form__container
        .record-form__wrapper
            form
                h2 Запишитесь на бесплатную первичную консультацию и диагностику зубов
                h3 В ходе консультации вы получите 2-3 плана качественного лечения под ваш бюджет
                input(type="text" value="Имя")
                input(type="tel" value="Телефон")
                input.btn.btn_fill(type="submit" value="Записаться")