//- include selection.pug

section.selection 
    .selection__container 
        h3 Выбрав, интересующую вас услугу, #[strong наш электронный помощник], поможет вам быстро подобрать нужного специалиста
        .selection__wrapper 
            .selection__item(data-micromodal-trigger="modal-3") 
                h3 Хирургия
                .selection__img     
                    img(src="images/selection_1.png", alt="Хирургия")
            .selection__item(data-micromodal-trigger="modal-3")  
                h3 Терапия
                .selection__img     
                    img(src="images/selection_2.png", alt="Терапия")
            .selection__item(data-micromodal-trigger="modal-3")  
                h3 Ортопедия
                .selection__img     
                    img(src="images/selection_3.png", alt="Ортопедия")
            .selection__item(data-micromodal-trigger="modal-3")  
                h3 Имплантация
                .selection__img     
                    img(src="images/selection_4.png", alt="Имплантация")
            .selection__item(data-micromodal-trigger="modal-3")  
                h3 Ортодонтия
                .selection__img     
                    img(src="images/selection_5.png", alt="Ортодонтия")
            .selection__item(data-micromodal-trigger="modal-3")  
                h3 Отбеливание
                .selection__img     
                    img(src="images/selection_6.png", alt="Отбеливание")