//- include services.pug

section.services(id='Услуги')
    .services__container 
        h2 Услуги
        p Наша клиника предоставляет широкий спектр услуг, выберите подходящую вам и #[strong запишитесь на бесплатную консультацию]
        .services__list
            .services__item
                h1 Хирургия
                p Удаление зуба является одной из самых распространенных операций в стоматологической практике.
                ul 
                    li Удаление зубов любой сложности
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
            .services__item
                h1 Терапия
                p Лечение напрямую зависит от стадии заболевания. Мы подбираем наиболее эффективные методы диагностики и терапии.
                ul 
                    li Кариозных и некариозных поражений
                    li Пульпитов и периодонтитов
                    li Художественная реставрация зубов
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
            .services__item
                h1 Ортопедия
                p Помогает решить проблемы, связанные с аномалиями, приобретенными дефектами, повреждениями и деформациями органов жевательно-речевого аппарата.
                ul 
                    li Коронки и мосты керамические
                    li Коронки и мосты циркониевые
                    li Съёмное протезирование (протезы, бюгеля, мягкие протезы)
                    li Установка виниров
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
            .services__item
                h1 Имплантация
                p Это операция по установке в челюстную ткань специального стоматологического штифта, который будет играть роль корня.
                ul 
                    li Установка имплантов OSSTEM implant
                    li Наращивание кости (все виды аугментации) OSSTEM implant
                    li Имплантация зубов по системе All ON4-All ON6
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
            .services__item
                h1 Ортодонтия
                p Поможет сделать вашу улыбку красивой и исправит прикус. Исправляет аномалии челюстей, положения челюстей в черепе, формы, величины, соотношения зубных дуг.
                ul 
                    li Установка брекет систем
                    li Цифровое ортодонтическое лечение прозрачными каппами
                    li Полная диагностика и лечение взрослых и детей
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
            .services__item
                h1 Отбеливание зубов
                p Стоматологическая процедура изменения оттенка зубной эмали. Отбеливание зубов относится к области косметической стоматологии.
                ul 
                    li Система Opalescence Boost
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .services__btn
                    a.btn Записаться
                    a.btn.btn_price Узнать цены
