//- include services.pug

section.services 
    .services__container 
        h2 Услуги
        p Наша клиника предоставляет широкий спектр услуг, выберите подходящую вам и 
        strong  запишитесь на бесплатную консультацию
        .services__list
            .services__item
                h1 Хирургия
                p Удаление зуба является одной из самых распространенных операций в стоматологической практике.
                ul 
                    li Удаление зубов любой сложности
                .services__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                a.btn Записаться
                a.btn.btn_price Узнать цены
