//- include services.pug

section.services 
    .services__container 
        h2 Услуги
        p Наша клиника предоставляет широкий спектр услуг, выберите подходящую вам и 
        strong  запишитесь на бесплатную консультацию