//- include video.pug

section.video 
    .video__container 
        .video__wrapper 
            .video__article
                .video__block 
                    h2 Технология профессиональной гигиены полости рта #[strong в 4 этапа]
                    p Посмотрите видео о технологии
                    video(width="550" height="305" poster="images/video.png")
                    a.btn(data-micromodal-trigger="modal-2") Узнать цены
                ul.video__list 
                    li.video__item Максимальная чистка в труднодоступных местах от камня и налета
                    li.video__item Применение AIR FLOW не доставляет дискомфорта и боли
                    li.video__item Такая чистка помогает убрать неприятный запах изо рта
                    li.video__item Осветляет зубы на 2-3 тона
                    li.video__item Очищает протезы брекеты и другие ортодонтические конструкции
                    li.video__item Убирает пятна от кофе, чая, табака и красного вина
                    li.video__item Удаляет налет курильщика
                    li.video__item Снижается развитие кариозного процесса
                    li.video__item Все этапы безболезнены и атравматичны
                    a.btn(data-micromodal-trigger="modal-2") Узнать цены
            .video__features
                ol
                    li Ультразвуковым аппаратом производится максимальная чистка в труднодоступных местах от поддесневого и наддесневого камня и налета.
                    li Применение AIR FLOW не доставляет дискомфорта и боли, очищая межзубные отложения. 
                    li Полировка зубов при помощи специальных паст и щеточек. Такая чистка устраняет все неровности скопившихся отложений, освежает и убирает неприятный запах.
                    li Покрытие зубов ременилизирующим гелем. Снимает чувствительность, предотвращает развитие кариеса. 
                .video__social 
                    a(href="tg://msg?text=<?php echo urlencode( '<TEXT>' ); ?>&to=89260255767") 
                        img(src="images/tg_icon.svg", alt="Telegram")
                    a(href="https://wa.me/89260255767")
                        img(src="images/wa_icon.svg", alt="Whatsapp")
                    p спросить в мессенджере
                .video__btn
                    a.btn.btn_mod(href="#record") Записаться
                    a.btn.btn_blue Выбрать врача