html {
    scroll-behavior: smooth;
}

body {
    font-family: Gilroy;
    margin: 0;
    padding: 0px 0px;
    color: $c5;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: Gilroy;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    font-family: Gilroy;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-family: Gilroy;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 7.5px 55.5px;

    border: 2px solid $c1;

    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    border-radius: 30px;

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: $c1;

    &_fill {
        padding: 9px 45.5px;
        border: none;
        background-color: $c1;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: white;
    }

    &_big {
        padding: 15.5px 136px;
        border: none;
        background-color: $sk;

        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: white;
    }

    &_mod {
        background: rgba(255, 255, 255, 0.6);
    }

    &_price {
        background: $c3;
    }

    &_blue {
        background-color: $sk;
        border: 2px solid $sk;
        color: white;
    }
}

[class*="__container"] {
    max-width: 1290px;
    margin: 0 auto;

    & > h2 {
        font-weight: 500;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: $c5;
        margin-bottom: 30px;
    }

    & > h3 {
        max-width: 1066px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: $c1;
        margin-bottom: 30px;
    }


    & > strong {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        color: $sk;
    }
}

@media (max-width: 1025px) {
    [class*="__container"] {
        max-width: 1024px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;

        & > h2 {
            font-size: 36px;
        }
    
        & > h3 {
            max-width: 984px;
            font-size: 24px;
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 769px) {
    [class*="__container"] {
        max-width: 768px;
        margin: 0 auto;

        & > h2 {
            font-size: 24px;
        }
    
        & > h3 {
            font-size: 20px;
            margin-bottom: 40px;
        }

        & > strong {
            font-size: 20px;
            color: $sk;
        }
    }
}
