.contact {
    background-image: url('../images/map.png');
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px 0;

        & > img {
            position: absolute;
            top: 205px;
            right: 330px;
            opacity: 0.8;
        }
    }

    &__form {
        grid-column: 1 / span 5;
        background: #099DBAD0;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        padding: 30px 0 25px 60px;

        & h2 {
            font-weight: 500;
            font-size: 42px;
            line-height: 120%;
            color: white;

            margin-bottom: 30px;
        }

        & h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: white;
            max-width: 338px;
            margin-bottom: 20px;
        }

        & > a {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: $sk;

            &::after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                width: 20.6px;
                height: 26.25px;
                background-image: url('../images/geo.svg');
                background-size: cover;
            }
        }

        & p {
            margin-top: 12px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: white;
        }

        & span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: white;
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        & a {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: white;
        }
    }

    &__social {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: left;

        & img {
            height: 28px;
            margin-right: 9px;
        }

        & p {
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: white;
        }
    }
}

@media (max-width: 1025px) {
    .contact {

        &__wrapper {
    
            & > img {
                top: 170px;
                right: 200px;
                opacity: 0.8;
            }
        }

        &__form {
            grid-column: 1 / span 6;
        }
    }
}

@media (max-width: 769px) {
    .contact {

        &__wrapper {
    
            & > img {
                top: 170px;
                right: 200px;
                opacity: 0.8;
            }
        }

        &__form {
            grid-column: 1 / span 12;
        }
    }
}