.header {
    margin-top: 33px;
    
    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info, 
    &__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;

        & > p {
            margin-left: 19.22px;
            width: 190px;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: $c1;
        }
    }

    &__address {
        margin-left: 60px;
        margin-top: 10px;
        width: 190px;

        & h4 {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $c1;

            &::before {
                content: url('../images/map_icon.svg');
                margin-right: 10px;
                vertical-align: top;
            }
        }

        & p {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $c5;
        }
    }

    &__time {
        margin-left: 60px;
        margin-top: 10px;
        width: 160px;

        & h4 {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $c1;

            &::before {
                content: url('../images/clock_icon.svg');
                padding-right: 10px;
                vertical-align: top;
            }
        }

        & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $c5;
        }
    }

    &__social {
        display: flex;
        margin-right: 60px;

        & img {
            height: 28px;
            margin-right: 9px;
        }  
    }

    &__phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 0 0 170px;
        margin-top: 10px;

        & > a {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            color: $c5;

            &:first-child {
                letter-spacing: 0.025em;
            }

            &:last-child {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: $c1;
            }
        }
    }

    &__open-,
    &__close {
        display: none;
    }
}

.nav {
    margin-top: 30px;
    background-color: $c4;

    &__list {
        display: flex;
    }

    &__item {
        padding-right: 30px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $c1;

        &:hover {
            color: $c2;
        }
    }
}

@media (max-width: 1025px) {
    .header {
        margin-top: 25px;

        &:target {

            & .nav__body{
                top: 0;
            }

            & .header__close {
                display: flex;
            }

            & .header__open {
                display: none;
            }
        }



        &__bar {
            justify-content: space-evenly;
        }
          
        &__logo {
            z-index: 5;

            & img {
                width: 67px;
            }

            & > p {
                width: 153px;
                margin-left: 15px;
                font-size: 16px;
            }
        }
    
        &__address {
            margin-top: 0;
            margin-left: 13px;
        }
    
        &__time {
            margin-top: 0;
            margin-left: 26px;
        }
    
        &__social {
            margin-right: 20px;
        }
    
        &__phone {

            flex: 0 0 160px;

            & > a {
                font-size: 18px;
            }
        }
    
        &__open {
            display: flex;
            flex-direction: column;
            position: relative;
            top: -5px;
            padding: 15px 10px;
            margin-left: 11px;
            background: white;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            z-index: 10;
    
            & span {
                width: 40px;
                height: 6px;
                margin-bottom: 6px;
                border-radius: 3px;
                background-color: $c1;
    
                &:last-child {
                    margin-bottom: 0px;
                    width: 33.33px;
                }
            }
        }

        &__close {
            display: none;
            flex-direction: column;
            position: relative;
            top: -5px;
            padding: 15px 10px;
            margin-left: 11px;
            background: white;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            z-index: 10;
    
            & span {

                &:first-child {
                    width: 40px;
                    height: 6px;
                    margin-bottom: 6px;
                    border-radius: 3px;
                    background-color: $c1;
                    transform: rotate(45deg) translate(6px, 7px);
                }

                &:last-child {
                    width: 40px;
                    height: 6px;
                    margin-bottom: 6px;
                    border-radius: 3px;
                    background-color: $c1;
                    transform: rotate(-45deg) translate(2px, -2px);
                }
                
            }
        }
    }

    .nav {
        margin-top: 0px;

        &__body {
            position: fixed;
            top: -110%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $c4;
            transition: top 0.4s ease-in-out 0.1s;

            &:target {
                left: 0;
            }
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
    
        &__item {
            padding-right: 0px;
            margin-top: 9px;
            margin-bottom: 19px;
        }
    
        &__link {
            font-weight: 500;
            font-size: 30px;
            line-height: 22px;
            color: $c1;
        }
    }
}

@media (max-width: 769px) {
    .header {
        margin-top: 25px;

        &__bar {
            justify-content: space-between;
        }
          
        &__logo {

            & > p {
                width: 193px;
                margin-left: 15px;
                font-size: 20px;
            }
        }

        &__time {
            display: none;
        }
    
        &__social {
            flex-direction: column;
        }
    
        &__phone {
            display: none;
        }
    }
}

@media (max-width: 630px) {
    .header {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: $c4;

        &__bar {
            justify-content: space-between;
        }
          
        &__logo {
            flex-direction: column;
            align-items: flex-start;

            & > p {
                width: 193px;
                margin-left: 0px;
                font-size: 18px;
            }

            & > img {
                width: 58px;
            }
        }

        &__address {
            display: none;
        }

        &__social {
            display: none;
        }
    }

    .nav {

        &__list {
            margin-top: 120px;
        }
    }
}

