/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal__container {
    background-color: #fff;
    // padding: 30px;
    max-width: 1920px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    // margin-top: 2rem;
    // margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }


.stock__modal {
  max-width: 412px;
  margin: 0 auto;
  padding: 60px 34px;
  background-color: $c4;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
      font-weight: 600;
      font-size: 28px;
      line-height: 140%;
      text-align: center;
      color: $c1;
      margin-bottom: 60px;
  }

  & p {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $c5;
      margin-left: 21px;
  }

  & .btn {
      position: relative;
      margin-bottom: 30px;
      padding: 7.5px 81.5px;
      background-color: white;


      &::before {
          content: url('../images/vk.svg');
          position: absolute;
          left: 8%;
          top: 50%;
          transform: translate(0, -42%);
      }
  }

  .stock__social {
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
          height: 28px;
          margin-right: 9px;
      }
  }
}

.price__modal {
  max-width: 480px;
  margin: 0 auto;
  padding: 60px 73px;
  background-color: $c4;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
      font-weight: 600;
      font-size: 28px;
      line-height: 140%;
      text-align: center;
      color: $c1;
      margin-bottom: 27px;
  }

  & .btn {
      margin-bottom: 30px;
      padding: 7.5px 81.5px;
      background-color: white;
  }
  .price__social {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        height: 28px;
        margin-right: 9px;
    }
  }
}

.doctor-quiz {
  padding: 90px 315px;
  background-color: $c4;

  & > h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: $c1;
  }

  & > h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $c5;
  }

  & > p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
  }

  &__item {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    & h3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
    }

    & > p {
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
      color: $c1;
    }

    &:hover {
      outline: 4px solid #33D9DA;
    }

    &:nth-child(1) {
      grid-column: 1 / span 6;
    }
    &:nth-child(2) {
      grid-column: 7 / span 6;
    }
    &:nth-child(3) {
      grid-column: 1 / span 6;
    }
    &:nth-child(4) {
      grid-column: 7 / span 6;
    }

    &__footer {
      display: flex;
      justify-content: space-between;

      & a {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
      }
    }
  }
}

@media (max-width: 1025px) {
  .doctor-quiz {
    padding: 30px 80px;
  }
}