.selection {
    margin-top: 60px;

    &__container {

        & h3 {
            text-align: left;
            font-size: 36px;
        }
        
        & strong {
            color: $sk;
        }
    }

    &__wrapper {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 98px;
    }

    &__item {
        position: relative;
        padding: 10px 0px 86px 0px;
        text-align: center; 
        background: $c4;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        & h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            text-align: center;
            color: $c1;
        }

        &:hover {
            background: $c3;

            & h3 {
                color: white;
            }

            & .selection__img {
                background-color: $c4;
            }
        }

        &:nth-child(1) {
            grid-column: 1 / span 2;
        }
        &:nth-child(2) {
            grid-column: 3 / span 2;
        }
        &:nth-child(3) {
            grid-column: 5 / span 2;
        }
        &:nth-child(4) {
            grid-column: 7 / span 2;
        }
        &:nth-child(5) {
            grid-column: 9 / span 2;
        }
        &:nth-child(6) {
            grid-column: 11 / span 2;
        }
    }

    &__img {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 124px;
        height: 114px;

        padding-top: 10px;
        text-align: center;
        background-color: $c3;
        border-radius: 50%;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

        & img {
            height: 90%;
        }
    }
}

@media (max-width: 1025px) {
    .selection {

        &__container {

            & h2 {
                font-size: 28px;
                line-height: 36px;
            }
        }

        &__wrapper {
            grid-template-columns: repeat(14, 1fr);
        }

        &__item {

            &:nth-child(1) {
                grid-column: 2 / span 4;
            }
            &:nth-child(2) {
                grid-column: 6 / span 4;
            }
            &:nth-child(3) {
                grid-column: 10 / span 4;
            }
            &:nth-child(4) {
                grid-column: 2 / span 4;
            }
            &:nth-child(5) {
                grid-column: 6 / span 4;
            }
            &:nth-child(6) {
                grid-column: 10 / span 4;
            }
        }
    }
}

@media (max-width: 630px) {
    .selection {

        &__container {

            & h2 {
                font-size: 24px;

            }
        }

        &__wrapper {
            grid-template-columns: repeat(12, 1fr);
        }

        &__item {

            &:nth-child(1) {
                grid-column: 3 / span 8;
            }
            &:nth-child(2) {
                grid-column: 3 / span 8;
            }
            &:nth-child(3) {
                grid-column: 3 / span 8;
            }
            &:nth-child(4) {
                grid-column: 3 / span 8;
            }
            &:nth-child(5) {
                grid-column: 3 / span 8;
            }
            &:nth-child(6) {
                grid-column: 3 / span 8;
            }
        }
    }
}