.video {
    margin-top: 30px;

    &__container {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    }
    

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 60px 80px 30px 80px;
        background: $c4;
        border-radius: 20px 20px 0 0;
    }

    &__block {
        grid-column: 1 / span 1;

        & h2 {
            font-weight: 600;
            font-size: 28px;
            line-height: 140%;
            color: $c1;
            margin-bottom: 60px;
        }

        & strong {
            color: $sk;
        }

        & p {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $c1;
            margin-bottom: 9px;
        }

        & video {
            margin-bottom: 30px;
        }
    }

    &__list {
        grid-column: 2 / span 1;
        padding-left: 20px;

        & > .btn {
            display: none;
        }
    }

    &__item {
        list-style: disc;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
    }

    &__features {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/features_bg.jpeg');
        background-size: cover;
        border-radius: 0px 0px 20px 20px;
        padding-top: 30px;
        padding-bottom: 70px;

        & ol {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            counter-reset: myCounter;   
        }

        & li {
            margin-top: 30px;
            padding: 18px 27px;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            background: $c3;
            border-radius: 20px;
            display: flex;

            &:nth-child(1) {
                grid-column: 2 / span 7;

                &:before {
                    padding: 8px 40px 3px 33px;
                }
            }

            &:nth-child(2) {
                grid-column: 3 / span 7;

                &:before {
                    padding: 8px 30px 3px 33px;
                }
            }

            &:nth-child(3) {
                grid-column: 4 / span 7;

                &:before {
                    padding: 8px 29px 3px 33px;
                }
            }

            &:nth-child(4) {
                grid-column: 5 / span 7;

                &:before {
                    padding: 8px 27px 3px 33px;
                }
            }

            &:before {
                margin-right: 30px;
                counter-increment: myCounter;
                content: counter(myCounter);
                display: block;
                height: 100px;
                width: 100px;

                font-style: italic;
                font-weight: 700;
                font-size: 68px;
                line-height: 140%;
                color: $sk;
                background: white;
                border-radius: 50%;
                box-sizing: border-box;
                text-align: center;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        & img {
            height: 28px;
            margin-right: 9px;
        }

        & p {
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $c5;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 1025px) {

    .video {

        &__wrapper {
            padding: 60px 61px 30px 61px;
        }

        &__block {
            grid-column: 1 / span 2;
            text-align: center;

            & h2 {
                margin-bottom: 30px;
            }

            & > .btn {
                display: none;
            }
        }

        &__list {
            grid-column: 1 / span 2;
            padding-left: 20px;
            margin: 0 auto;

            & > .btn {
                display: inline-block;
                background-color: white;
                margin-top: 60px;
                margin-bottom: 60px;
                padding: 14.4px 36.5px;
            }
        }

        &__features {

            & li {
                margin-top: 10px;

                &:nth-child(1) {
                    grid-column: 2 / span 10;
                }
                &:nth-child(2) {
                    grid-column: 2 / span 10;
                }
                &:nth-child(3) {
                    grid-column: 2 / span 10;
                }
                &:nth-child(4) {
                    grid-column: 2 / span 10;
                }
            }
        }

        &__social {
            margin-top: 23px;
        }

        &__btn {
            margin-top: 19.5px;
        }
    }
}

@media (max-width: 769px) {

    .video {

        &__wrapper {
            padding: 60px 22px 30px 22px;
        }

        &__block {
            grid-column: 1 / span 2;
            text-align: center;

            & h2 {
                margin-bottom: 30px;
            }
        }

        &__item {
            font-size: 20px;
        }

        &__features {
            padding-bottom: 30px;

            & li {
                margin-top: 10px;
                font-size: 18px;
            }
        }

        &__social {
            margin-top: 23px;
        }

        &__btn {
            display: none;
        }
    }
}

@media (max-width: 630px) {

    .video {

        &__wrapper {
            padding: 60px 22px 30px 22px;
        }

        &__block {
            grid-column: 1 / span 2;
            text-align: center;

            & h2 {
                margin-bottom: 20px;
            }

            & p {
                font-size: 14px;
            }

            & video {
                width: 100%;
                height: auto;
            }
        }

        &__list {

            & > .btn {
                display: inline-block;
                background-color: white;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 14.4px 36.5px;
            }
        }

        &__item {
            font-size: 16px;
        }

        &__features {
            padding-bottom: 30px;

            & li {
                margin-top: 10px;
                font-size: 18px;
                flex-direction: column;

                &::before {
                    font-size: 30px;
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }

                &:nth-child(1) {
                    &::before {
                        padding: 5px 10px 5px 10px;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        padding: 5px 10px 5px 10px;
                    }
                }
                &:nth-child(3) {
                    &::before {
                        padding: 5px 10px 5px 10px;
                    }
                }
                &:nth-child(4) {
                    &::before {
                        padding: 5px 10px 5px 10px;
                    }
                }
            }
        }

        &__social {
            margin-top: 23px;
        }

        &__btn {
            display: none;
        }
    }
}